
<p style="font-size:130%">Hello anonshot is a photo sharing app.</p> 

<p style="font-size:130%">more functionality is in the works such as a follow function, messaging, video support, and changes in the order of returned photos</p>

<p style="font-size:130%">here's my email if you'd like to contact me gonnellcough@gmail.com</p>

<div style="border: 2px solid black;border-radius: 5px;">
<p style="font-size:130%">POST request: creates account as anon</p>
<p>http POST https://anonshot.com/api/create-user/ username='test' isanon='True' password='password' email='email@example.com'</p>
<p style="color:blue;">https://anonshot.com/user/</p>
<p style="color:green;">data = {'username':'test', 'password':'password', 'email':'email@example.com'}</p>
<p>Response:</p>
<pre>
{
    "email": "", 
    "password": "2ffbe040-403c-4783-a2a7-b641f14711eb", 
    "token": "7cc8307cc96a5b5c383e50a05600e9e61b26afb791bc6504c76cce50cadee6fa", 
    "username": "2ffbe040-403c-4783-a2a7-b641f14711eb"
}

</pre>
</div>
<div style="border: 2px solid black;border-radius: 5px;">
<p style="font-size:130%">POST request: creates account with username</p>
<p>http POST https://anonshot.com/api/create-user/ username='test' isanon='True' password='password' email='email@example.com'</p>
<p style="color:blue;">https://anonshot.com/user/</p>
<p style="color:green;">data = {'username':'test', 'password':'password', 'email':'email@example.com'}</p>
<p>Response:</p>
<pre>
{
    "email": "email@example.com", 
    "password": "XXXXXXXXXX", 
    "token": "0fa133fcb2363eca4880bac2a434d42e7ec16b34f7e047cdfd499b5e5c96c475", 
    "username": "testing11"
}
</pre>
</div>


<div style="border: 2px solid black;border-radius: 5px;">
<p style="font-size:130%">POST request: logs user in, returns authtoken</p>
<p>http POST https://anonshot.com/login/ isanon=True authtoken=authtoken</p>
<pre>

if isanon = False users' comments and photos will not be attached to their account
</pre>
<p style="color:blue;">https://anonshot.com/login/</p>
<p style="color:green;">data = {'authtoken': authtoken, 'isanon':True} or data = {'username':'test', 'password':'password','isanon':False}</p>
<p>Response:</p>
<pre>
{
    "authtoken": authtoken,
    "message": "user is now logged in", 
    "username": "test"
}

</pre>
</div>

<div style="border: 2px solid black;border-radius: 5px;">
<p style="font-size:130%">PUT request: changes password</p>
<p>http PUT https://anonshot.com/user/test newpassword="newpassword" password="password" authtoken=authtoken</p>
<p style="color:blue;">https://anonshot.com/user/{ username }</p>
<p style="color:green;">data = {'newpassword':'newpassword', 'password':'password', 'authtoken': authtoken}</p>
<p>Response:</p>
<pre>
"new password has been set"
</pre>
</div>

<div style="border: 2px solid black;border-radius: 5px;">
<p style="font-size:130%">DELETE request: makes user inactive</p>
<p>http DELETE https://anonshot.com/user/test password="newpassword" authtoken=authtoken<p>
<p style="color:blue;">https://anonshot.com/user/{ username }</p>
<p style="color:green;">data = {'password':'password', 'authtoken': authtoken}</p>
<p>Response:</p>
<pre>
"user has been made inactive"
</pre>
</div>
<div style="border: 2px solid black;border-radius: 5px;">
<p style="font-size:130%">POST request: uploads photo</p>
<p>curl -F "lat=12.111" -F "lon=12.111" -F "authtoken=authtoken" -F "caption=this is a caption" -H "Content-Type: multipart/form-data" -F "media=@/home/directory/file.jpg" -X POST https://anonshot.com/photos/
</p>
<p style="color:blue;">https://anonshot.com/photos/</p>
<p style="color:green;">data = {"lat":"12.111", "lon":"12.111", "authtoken":authtoken, "caption":"this is a caption", "media":media}</p>
<p>Response:</p>
<pre>
{
    "uuid":"91a1c14a-96ed-4111-9e6f-1d456f24f3ad",
    "lat":12.111,"lon":12.111,
    "poster":"anon",
    "timestamp":"2017-04-30T21:26:43.411113Z",
    "visible":true,
    "caption":"this is a caption",
    "useruuid":"6af74dc2-429e-42e6-9dc3-cab2753c6141"
}  

Note: the photo will be hosted at https://s3.amazonaws.com/anonshot/{uuid}.jpg
</pre>
</div>

<div style="border: 2px solid black;border-radius: 5px;">
<p style="font-size:130%">GET request: returns photos, within 300~ miles, closest first, returns up to 100 photos</p>
<p>http GET https://anonshot.com/photos/{latitude}/{longitude}/{authtoken}</p>
<p style="color:blue;">https://anonshot.com/photos/12.111/12.111/{authtoken}</p>
<p>Response:</p>
<pre>
]
    {
        "caption": "this is a caption1", 
        "comment1": {
            "comment_message": "this comment", 
            "comment_photouuid": "bef248c9-f160-40d9-b058-eec285b2bdee", 
            "comment_poster": "anon", 
            "comment_timestamp": "2017-05-01T03:41:16.902833Z", 
            "comment_uuid": "534aba14-a8f5-4daf-944f-8ef3041088aa"
        }, 

        "distance": 0.0, 
        "lat": 12.111, 
        "lon": 12.111, 
        "poster": "anon", 
        "timestamp": "2017-05-01T00:16:23.429333Z", 
        "useruuid": "6af74dc2-429e-42e6-9dc3-cab2753c6141", 
        "uuid": "bef248c9-f160-40d9-b058-eec285b2bdee", 
        "visible": true
    }
]

</pre>
</div>


<div style="border: 2px solid black;border-radius: 5px;">
<p style="font-size:130%">DELETE request: deletes a photo</p>
<p>http DELETE https://anonshot.com/photos/ uuid="photouuid" password="password" authtoken=authtoken</p>
<p style="color:blue;">https://anonshot.com/photos/</p>
<p style="color:green;">data = {'uuid':photouuid, 'authtoken':authtoken, 'password':'password'}</p>
<p>Response:</p>
<pre>
"photo deleted"
</pre>
</div>
<div style="border: 2px solid black;border-radius: 5px;">
<p style="font-size:130%">POST request: posts comment</p>
<p>http POST https://anonshot.com/comments/ photouuid='photouuid' authtoken='authtoken' comment='comment'</p>
<p style="color:blue;">https://anonshot.com/comments/</p>
<p style="color:green;">data = {'photouuid':photouuid, 'authtoken':authtoken, 'comment':'comment'}</p>
<p>Response:</p>
<pre>
{
    "comment": "comment", 
    "photouuid": "2a895413-f950-41f1-869c-e8fbc5bb85d2", 
    "poster": "anon", 
    "timestamp": "2017-05-01T03:03:23.166120Z", 
    "useruuid": "b631218e-971f-432d-909c-8d9309448e06", 
    "uuid": "c444101e-6a41-48a4-9c05-3bd8ec3af0c1"
}

</pre>
</div>


<div style="border: 2px solid black;border-radius: 5px;">
<p style="font-size:130%">PUT request: edits comment</p>
<p>http PUT https://anonshot.com/comments/ photouuid=photouuid commentuuid=commentuuid comment='edited comment' authtoken=authtoken</p>
<p style="color:blue;">https://anonshot.com/comments/</p>
<p style="color:green;">data = {'photouuid':photouuid, 'authtoken':authtoken,'commentuuid':commentuuid, 'comment':'edited comment'}</p>
<p>Response:</p>
<pre>
"comment updated"
</pre>
</div>
<div style="border: 2px solid black;border-radius: 5px;">
<p style="font-size:130%">DELETE request: deletes comment</p>
<p>http DELETE https://anonshot.com/comments/ uuid="commentuuid" password="password" authtoken=authtoken</p>
<p style="color:blue;">https://anonshot.com/comments/</p>
<p style="color:green;">data = {'uuid':commentuuid, 'authtoken':authtoken, 'password':'password'}</p>
<p>Response:</p>
<pre>
"comment deleted" 
</pre>
</div>

<div style="border: 2px solid black;border-radius: 5px;">
<p style="font-size:130%">GET request: returns user photos</p>
<p>http GET https://anonshot.com/userphotos/{username}/{authtoken}</p>
<p style="color:blue;">https://anonshot.com/user/{username}/{authtoken}</p>
<p>Response:</p>
<pre>
]
    {
        "caption": "this is a caption1", 
        "comment1": {
            "comment_message": "this comment", 
            "comment_photouuid": "bef248c9-f160-40d9-b058-eec285b2bdee", 
            "comment_poster": "anon", 
            "comment_timestamp": "2017-05-01T04:13:05.121828Z", 
            "comment_uuid": "7d2d3f87-c404-406e-ae73-26a8d9c7dc2f"
        }, 
        "lat": 12.111, 
        "lon": 12.111, 
        "poster": "anon", 
        "timestamp": "2017-05-01T00:16:23.429333Z", 
        "useruuid": "6af74dc2-429e-42e6-9dc3-cab2753c6141", 
        "uuid": "bef248c9-f160-40d9-b058-eec285b2bdee", 
        "visible": true
    }
]


</pre>
</div>

<div style="border: 2px solid black;border-radius: 5px;">
<p style="font-size:130%">GET request: returns a photo</p>
<p>http GET https://anonshot.com/{uuid}/{authtoken}</p>
<p style="color:blue;">https://anonshot.com/{uuid}/{authtoken}</p>
<p>Response:</p>
<pre>
]
    {
        "caption": "this is a caption1", 
        "comment1": {
            "comment_message": "this comment", 
            "comment_photouuid": "bef248c9-f160-40d9-b058-eec285b2bdee", 
            "comment_poster": "anon", 
            "comment_timestamp": "2017-05-01T04:13:05.121828Z", 
            "comment_uuid": "7d2d3f87-c404-406e-ae73-26a8d9c7dc2f"
        }, 
        "lat": 12.111, 
        "lon": 12.111, 
        "poster": "anon", 
        "timestamp": "2017-05-01T00:16:23.429333Z", 
        "useruuid": "6af74dc2-429e-42e6-9dc3-cab2753c6141", 
        "uuid": "bef248c9-f160-40d9-b058-eec285b2bdee", 
        "visible": true
    }
]


</pre>
</div>








