 <div>
       <div>
        <a style={{ marginRight: 30, color: 'white', textDecoration: 'none', fontSize: 30 }} href="https://connellgough.com">contact</a>
      </div>
      <h1 style={h1Style} >Local lens</h1>
      <img src={logo} alt="loading..." />

      <div style={{ height: 50 }}></div>
      <a href="https://play.google.com/store/apps/details?id=com.anonshot">
      <img src={google} alt="loading..." />
      </a>
      /*<a href="" style={{ margin: 60 }}>
      <img src={apple} alt="loading..." />
      </a>*/
      <div style={pDivStyle}>
      <p style={pStyle}>Local lens is an ios and android app that returns a combination of the closest and newest photos in a scroll view and allows the posting of comments, photos, videos and captions.
      think of it as tool to catalogue a place and communicate with people in your vicinity. You can post anonymously.
      </p>
      <p style={psmallStyle}>
    Talk about what&#39;s
      going on in your town with your community, advertise your bussiness, art, or music, arrange meetups, buy and sell stuff, catalogue someplace for the next people who pass through
      or anything else you can think of. As always Have fun, and be respectful.
      </p>
      </div>
      <div style={{ width: '100%', height: '700px'  }}>
        <img style={{ width: '25%', marginTop: '1%' }} src={main_view} alt="loading. . ." />
      </div>
      <div style={{ width: '100%', height: '700px' }}>
        <img style={{ width: '25%', marginTop: '1%' }} src={comment_view} alt="loading. . ." />
      </div>
      <div style={{ width: '100%', height: '700px'  }}>
        <img style={{ width: '25%', marginTop: '1%' }} src={account_logged_out} alt="loading. . ." />
      </div>
      <div style={{ width: '100%', height: '700px'  }}>
        <img style={{ width: '25%', marginTop: '1%' }} src={account_as_anon} alt="loading. . ." />
      </div>
      <div style={{ width: '100%', height: '700px'  }}>
        <img style={{ width: '25%', marginTop: '1%' }} src={account_as_use} alt="loading. . ." />
      </div>
      <p style={pStyle}>

      </p>
    </div>
